// 以下変数とミックスインの定義

$colors:(#ffd9df,#87ceeb);
// 背景色で使用
$margin-set:20px auto;
// marginの上下余白20pxの設定
$container-width:800px;
// 一番大きい値のwidthにのみ適用（使用回数多いため）
@mixin box-size($width,$height){
width:$width;
height: $height
};
// widthとheightの記述を統一したかった為使用

@mixin position-set($position,$top:0,$left:0){
  position: $position;
  top: $top;
  left: $left;
}
// 重複した記述を避けるために使用

// 以上。
// 以下より課題の記述

#top{
  @include box-size(800px,0);

    background-color:  #dcc9f4;
    margin: $margin-set;
    text-align: center;

  .topchild{
    @include box-size(20%, 0);

      display: inline-block;
      background-color:nth($colors, 1);
    }
}

#middle{
  @include box-size(800px,800px);
  @include position-set(relative);

    margin: $margin-set;
    background-color:nth($colors, 1);
  
  #middle-child01,
  #middle-child02,
  #middle-child03{
    @include box-size(200px,200px);

      background-color:nth($colors, 2);
  }
  #middle-child01{
    @include position-set(absolute,100px,100px);
    }
  #middle-child02{
    @include position-set(absolute,300px,300px);
    }
  #middle-child03{
    @include position-set(absolute,500px,500px);
    }
}

#bottom{
  @include box-size(800px,300px);

    background-color:nth($colors, 2);
    margin: 0 auto;

  #bottom-child01,
  #bottom-child02,
  #bottom-child03{
    @include box-size(400px,100px);

      background-color: #e5dcf0;
    }
  #bottom-child02{
    @include position-set(relative,0,200px);
    }
  #bottom-child03{
    @include position-set(relative,0,400px);
    }
}